@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@500&display=swap');
*{
    font-family: 'Faustina', serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D5D50;
    color: white;
    padding: 15px 100px;
    /*border-top:solid #010101 ;*/
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 500;
}
header a{
    color: white;
    text-decoration: none;
    margin: 10px;
    transition: ease 0.5s;
    font-size: 16px;
}
header a:hover{
    color: black;
    font-size: 20px;
}
.carsour{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 100px;
    background-image: url(images/cover1.jpg);   
    background-size: 1300px 655px;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
.carsour a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 0px 33px;
    font-size: 15px;
    transition: ease 0.7s;
}
.carsour a:hover{
    font-size: 17px;
    background-color: #2b2424;
}
.carsour h2{
    color: white;
}
.carsour p{
    background-color: #3D5D50;
}
.services h2{
    text-align: center;
    margin-top: 30px;
}
.services .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 200px;
    padding-left: 200px;
}
.services .card{
    margin: 0px 30px;
    box-shadow: 3px 3px 6px 6px #ccc;
    padding: 10px;
    width: 40%;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.card h3{
    color: #3D5D50;
    text-align: center;
}
.card p{
    text-align: center;
}
.services .card>div{
    font-size: 50px;
    color: #3D5D50;
}
.protofilio{
    background-color: #3D5D50;
    text-align: center;
    padding: 30px 100px;
}
.protofilio h2{
    color: white;
    margin-bottom: 30px;
}
.protofilio .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.protofilio .card{
    background-color: white;
    border: solid;
    border-radius: 15px;
    margin-right: 20px;
    padding-bottom: 10px;
    width: 17em;
    margin-bottom: 30px;
    overflow: hidden;
}
.protofilio p{
    margin-bottom: 10px;
}
.protofilio button{
    background-color: #3D5D50;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    border: none;
}
.protofilio .div-card{
    margin: 0px 10px;
}
.protofilio img{
    height: 13em;
    width: 100%;
}
.protofilio button{
    transition: ease 0.7s;
}
.protofilio button:hover{
    background-color: #2b2424;
    letter-spacing: 2px;
    font-size: 14px;
    
}
.notes{
    padding:50px 100px;
    display: flex;
    align-items: center;
}
.notes h2{
    color: #3D5D50;
}
.notes-dec{
    width: 60%;
    text-align: center;
    padding-left: 150px;
}

.notes-img{
    width: 300px;/***************/
    height: 200px;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.rtl-img{
    margin-left: 30px!important;
    margin-right: 0px!important;
}
footer{
    text-align: center;
    color: white;
    background-color: #3D5D50;
    padding: 5px;
}
.final .container{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}
.final .card{
    width: 10%;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3D5D50; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2b2424; 
  }
  .up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2b2424; 
    padding: 8px;
    color: #3D5D50;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .map{
    padding: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .location{
    text-align: center;
    padding-bottom: 0px;
    background-color: #3D5D50;
    padding: 10px;
  }
  .map div{
    width: 100%;
    padding: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  }
  .map iframe{
    width: 100%;
  }






.Register {
    text-align: center;
    margin-top: 10px;
    background-image: url(images/loginback.jpg);
    background-size: 1300px 650px;
}
.Register .container{

    justify-content: center;
    padding: 0px 300px;
    padding-left: 300px;
    padding-top: 145px;
}
.Register .card{
    padding: 2px;
    width: 40%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.card {
    color: #3D5D50;
    text-align: center;
}
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 3px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    justify-content: center;

  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  /* Set a style for the submit button */
  .Register button{
    background-color: #3D5D50;
    color: white;
    cursor: pointer;
    border: none;

    display: flex;
    padding: 0px 20px;
    margin: 10px 110px;
    height: 25px;
    text-align: center;
    font-size: 17px;
    opacity: 0.9;
  }
  
.Register button:hover {
    opacity: 1;
  }
  









  .login {
    text-align: center;
    margin-top: 10px;
    background-image: url(images/loginback.jpg);
    background-size: 1300px 650px;
}
.login .container{
    padding-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 300px;
}
.login .card{
    padding: 2px;
    width: 280px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.card {
    color: #3D5D50;
    text-align: center;
}
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 3px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    justify-content: center;

  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  /* Set a style for the submit button */
  .login button{
    background-color: #3D5D50;
    color: white;
    cursor: pointer;
    border: none;

    display: flex;
    padding: 0px 20px;
    margin: 10px 110px;
    height: 25px;
    text-align: center;
    font-size: 17px;
    opacity: 0.9;
  }
  
.login button:hover {
    opacity: 1;
  }